In [90]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [91]:
df = pd.read_excel("../data/Dataset UK L\'Oreal Paris Haircare - HEC Training.xlsx", sheet_name=None)

In [92]:
print(df.keys())

dict_keys(['KPI to model', 'Commercial Variables', 'KPI & Com Variables Definition', 'A&P Variables', 'A&P Variables Definition'])

In [93]:
df_kpi = df['KPI to model']
df_commercial_variables = df['Commercial Variables']
df_ap_variables = df['A&P Variables']

In [94]:
df_kpi.head()

,Starting Week,Year,UK L'Oreal Paris Haircare Total Offline Sellout Value (in pound),UK L'Oreal Paris Haircare Total Offline Sellout Units,UK L'Oreal Paris Haircare Total Online Sellout Value (in pound),UK L'Oreal Paris Haircare Total Online Sellout Units
0,2022-01-03,2022,1583364.9,681362.5,362750.18,111888.4
1,2022-01-10,2022,1753588.2,753049.7,385263.71,129334.4
2,2022-01-17,2022,1690696.8,710890.7,359523.06,119282.8
3,2022-01-24,2022,1748572.8,729487.2,357843.85,116281.1
4,2022-01-31,2022,1768055.9,738346.7,386416.94,116873.9

In [95]:
df_commercial_variables.head()

,Starting Week,Year,UK L'Oreal Paris Haircare Offline Average Price (in pound),UK L'Oreal Paris Haircare Online Average Price (in pound),UK L'Oreal Paris Haircare Total Weigheted Promotion Distribution (%)
0,2022-01-03,2022,2.323822,3.242071,0.37
1,2022-01-10,2022,2.328649,2.978819,0.42
2,2022-01-17,2022,2.378280,3.014039,0.43
3,2022-01-24,2022,2.396989,3.077403,0.86
4,2022-01-31,2022,2.394615,3.306272,0.78

In [96]:
df_ap_variables.head()

,growth_driver_l1,growth_driver_l2,growth_driver_l3,growth_driver_l4,growth_driver_l5,metric,Starting week,investment (in pound),execution
0,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-03,107.438017,537.216943
1,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-10,0.000000,0.000000
2,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-17,0.000000,0.000000
3,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-24,28484.999998,142432.121596
4,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-31,19172.915190,95869.369418

In [97]:
number_levers = len(df_ap_variables.groupby(['growth_driver_l1', 'growth_driver_l2', 'growth_driver_l3', 'growth_driver_l4', 'growth_driver_l5']))
print(f'There are {number_levers} levers in the dataset.')

There are 20 levers in the dataset.

In [98]:
df_ap_variables.groupby(['growth_driver_l1', 'growth_driver_l2', 'growth_driver_l3', 'growth_driver_l4', 'growth_driver_l5']).agg({'Starting week': 'count'})

                                                                                                                         Starting week
growth_driver_l1   growth_driver_l2    growth_driver_l3   growth_driver_l4                    growth_driver_l5
ap_consumer_facing consumer_engagement advocacy_media     influencer_management               influencer_management                104
                                       paid_media         digital_tv                          bvod                                 104
                                                          online_multiformat_ads_transaction  amazon_retail                        104
                                                                                              tesco                                104
                                                          online_video_content_platforms      google_video                         104
                                                                                              youtube                              104
                                                          paid_search_awarenessconsideration  google                               104
                                                          paid_search_transaction             amazon                               104
                                                                                              citrus                               104
                                                                                              criteo                               104
                                                          social_media_awarenessconsideration meta                                 104
                                                                                              pinterest                            104
                                                                                              tik_tok                              104
                                                          social_media_transaction            meta                                  52
                                                                                              meta_collab_ads                      104
                                                                                              tesco                                104
                                                                                              the_hut_group                        104
                                                                                              tik_tok                              104
                                                          traditional_tv                      linear                               104
                   shopper_experience  shopper_experience testers_and_merchandising           testers_and_merchandising            104

In [99]:
meta_dates_df = df_ap_variables[(df_ap_variables['growth_driver_l4']=='social_media_transaction') & (df_ap_variables['growth_driver_l5']=='meta')]['Starting week']
starting_date = meta_dates_df.min()
end_date = meta_dates_df.max()
print(starting_date, end_date)

2023-01-02 00:00:00 2023-12-25 00:00:00

In [100]:
df_ap_variables['metric'].value_counts()

metric
impressions    1716
engagements     104
grps            104
units           104
Name: count, dtype: int64